* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

body {
font-family: Arial, sans-serif;
line-height: 1.6;
}

.container {
width: 90%;
margin: auto;
}

header {
background: #0f3b2e;
padding: 15px 0;
}

header .container {
display: flex;
justify-content: space-between;
align-items: center;
}

.logo img {
height: 100px;
}

nav a {
color: white;
text-decoration: none;
margin-left: 20px;
font-weight: bold;
}

.hero {
    padding: 80px 0;
    
    background:
        linear-gradient(
            rgba(15,59,46,0.75),
            rgba(15,59,46,0.75)
        ),
        url('../images/hero.jpg');

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    text-align: center;
    color: white;
}

.hero-content {
max-width: 1100px;
}
.hero-content p {
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
}

.hero h1 {
font-size: 3rem;
margin-bottom: 20px;

}

.tagline {
color: gold;
font-size: 1.3rem;
margin-bottom: 20px;
}

.btn {
display: inline-block;
margin-top: 25px;
padding: 12px 24px;
background: gold;
color: #0f3b2e;
text-decoration: none;
font-weight: bold;
}
.intro {
    padding: 80px 0;
    background: #ffffff;
}

.intro h2 {
    text-align: center;
    color: #0f3b2e;
    margin-bottom: 30px;
    font-size: 2.2rem;
}

.intro p {
    max-width: 900px;
    margin: 0 auto 20px;
    text-align: center;
    font-size: 1.1rem;
    line-height: 1.8;
}

.story {
padding: 80px 0;
background: #f8f8f8;
}

.story h2 {
text-align: center;
color: #0f3b2e;
font-size: 2.2rem;
margin-bottom: 30px;
}

.story p {
max-width: 900px;
margin: 0 auto 20px;
text-align: center;
line-height: 1.8;
font-size: 1.1rem;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.services {
padding: 80px 0;
background: white;
}

.services h2 {
text-align: center;
color: #0f3b2e;
margin-bottom: 50px;
font-size: 2.2rem;
}

.service-grid {
display: flex;
gap: 30px;
justify-content: center;
}

.service-card {
flex: 1;
background: #f8f8f8;
padding: 30px;
border-radius: 10px;
text-align: center;
}

.service-card h3 {
color: #0f3b2e;
margin-bottom: 15px;
}

.species {
padding: 80px 0;
background: #f8f8f8;
}

.species h2 {
text-align: center;
color: #0f3b2e;
margin-bottom: 50px;
font-size: 2.2rem;
}

.species-grid {
display: flex;
flex-wrap: wrap;
gap: 20px;
justify-content: center;
}

.species-card {
background: white;
padding: 20px 30px;
border-radius: 8px;
border-left: 5px solid gold;
font-weight: bold;
}

.sourcing {
padding: 80px 0;
background: white;
text-align: center;
}

.country-grid {
margin-top: 40px;
display: flex;
flex-wrap: wrap;
gap: 20px;
justify-content: center;
}

.country-grid div {
background: #0f3b2e;
color: white;
padding: 15px 25px;
border-radius: 8px;
}

.manufacturing {
padding: 80px 0;
background: #f8f8f8;
text-align: center;
}

.manufacturing h2 {
color: #0f3b2e;
margin-bottom: 30px;
font-size: 2.2rem;
}

.manufacturing p {
max-width: 900px;
margin: 0 auto 20px;
line-height: 1.8;
}
